---
import type { GuideCourse } from "../pages/index.astro";
import CourseStickyNote from "./CourseStickyNote.astro";

const {semester, semesterCourses, courseDetails} = Astro.props;
---

<div>
    <h1 class="font-sketch opacity-80 text-center">{semester}</h1>
    <div class="flex flex-col gap-2">
        {semesterCourses.map((semesterCourse: GuideCourse) => {
            const course = courseDetails[semesterCourse.courseId];
            if (!course) return;
            return <CourseStickyNote key={course.code} {...course}/>
        })}
    </div>
</div>
